

body {

    direction: rtl;
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
}   


/*nav*/


#nav .container{
    padding: 10px;
    margin-top:-70px ;
    background-image: linear-gradient(to bottom left,  #FF8B5C ,#D1475E);
    box-shadow: 3px 3px 10px rgb(122, 122, 122);
    padding-bottom: 30px;
    }
    
    #nav  .nav-input {
        display: flex;
        justify-content: center;
        padding: 5px;
        max-width: 100%;
    }
    #nav  .nav-input .form-control{
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    
    #nav  .nav-select {
        display: flex;
        justify-content: center;
        padding: 5px;
        max-width: 100%;
    }
    #nav  .nav-select .form-control{
        padding: 5px;
        border-radius: 20px;
    }
    
    
    #nav  .nav-but {
        display: flex;
        justify-content: center;
        padding: 5px;
        max-width: 100%;
    }
    
    #nav  .nav-but a {
        color: #A55965;
        text-decoration: none;
        border-radius: 15px;
        font-size: large;
        background: #fff;
        padding: 5px 30px;
        
    }
    
    #nav  .nav-but a:hover {
        color: #fff;
        background: #A55965 ;
    }
    




/*header*/


#header .container-fluid {

    background: url(../../imgs/bg.png) no-repeat center;
    -webkit-background-size:cover ;
    -moz-background-size:cover ;
   -o-background-size:cover ;
    background-size:cover ;
    height: 100vh;
  padding-bottom: 30px;

}

#header .head-but {
display: flex;
justify-content: flex-start;
padding: 20px;
align-items: center;

}

#header .head-but #head-icon {
    color: #fff;
    font-size: xx-large;
    margin-left: 15px;
}
#header .head-but #head-icon:hover {
    color: #A55965;
    cursor: pointer;
}

#header .head-but #head-link a{

    color: #A55965;
    text-decoration: none;
    border-radius: 20px;
    font-size: large;
    background: #fff;
    padding: 5px 35px;
    font-weight: bold;
}
#header .head-but #head-link a:hover{
    color: #fff;
    background: #A55965 ;
    -webkit-transition: color 0.5 ease-in-out;
    -moz-transition: color 0.5 ease-in-out;
    -o-transition: color 0.5 ease-in-out;
    transition: color 0.5 ease-in-out;
}

#header #head-imge {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 50px;     
}

#header #head-imge img{
    max-width: 100%;
}



/* main section*/


#main .container-fluid {
    padding: 30px 2px;
    background:#F1F1F1;
}

#main  .container {
    box-shadow: 3px 3px 10px rgb(122, 122, 122);
    background: #ECECEC;
    margin-top: 50px;
}

#main  .vl {
    border-left: 8px solid #FF8B5C;
    height: 55px;
    margin-left :15px;
    margin-right :40px;
    margin-bottom: 70px;
    margin-top: 50px;
  }
  #main h2 {
      color: #BD4E5F;
      margin-bottom: 70px;
      margin-top: 50px;
  }


  

  #main .add-img {

    margin: 30px auto;
  }
#main .add-img img{

    max-width: 100%;

}


#main .card{
    margin :20px 10px ;
    border-radius: 20px;
    background: #F5F5F5;
}
#main .card img {
  border-radius: 20px;
  height: 350px;
  overflow: hidden;
}

#main .card .card-title {
    padding: 10px;
}
#main .card  a{
    text-decoration: none;
    color: #CF455C;
   
}
#main .card  a:hover{
  
  color: #F7865A;
 
}

#main .card-body .price{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 5px;
}
#main .card-body .time{
  display: flex;
justify-content: flex-start;
align-items: center;
padding: 5px;
}
#main .card-body .place{
  display: flex;
justify-content: flex-start;
align-items: center;
padding: 5px;
}

#main .card-body h4 {
  font-weight: bold;
  text-align: center;
}

#main .card-body .icon{
  margin: 0 15px;
  color: #BD4E5F ;
  font-size: x-large;
}


#main .ads-but {
  display: flex;
  justify-content: center;
  margin: 30px;
}
#main .ads-but a {
color: #fff;
padding: 10px 120px;
font-size: xx-large;
background-image: linear-gradient(#D0475B, #FD865C);
text-decoration: none;
border-radius: 20px;
}
#main .ads-but a:hover {
  color:rgb(218, 30, 58) ;
  -webkit-transition: all 0.6s ease-in-out;
 -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}



#main .pagin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#main .page-item.active .page-link {
    border:none;
     
}

#main  .page-item {
    margin: 10px;   
}


#main  .page-item .page-link {
    background: #CF455C;
    color: #FFF;
    font-weight: bold;
}
#main  .page-item .page-link:hover{
    background: rgb(252, 148, 166) ;
    color: #CF455C;
}





/*  footer */


#footer {
    background: #CF455C;
    padding: 20px 10px;
}

#footer .footer-block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .footer-block1 img {
    width: 60%;
    max-width: 100%;
    margin-bottom:20px ;
}

#footer .footer-block1 p{
    color: #fff;
    font-size: larger;
    padding: 10px;
}



#footer .footer-block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px ;
}

#footer .footer-block2 ul li {
  list-style: none;
  margin: 20px 0;
  text-align: center;
}

#footer .footer-block2 ul li a{
    color: #fff;
    font-size: x-large;
    padding-bottom: 10px;
    text-decoration: none;
    
}
#footer .footer-block2 ul li a:hover{
    color: #FE8F64;
}


#footer .footer-block3 {
    display: flex;   
    justify-content: center;    
    padding-top:30px ;
}

#footer .footer-social {
    font-size: xx-large;
}

#footer  #t{
    color: #FFF;
    margin: 10px 20px;
    cursor: pointer;   
}
#footer  #f{
    color: #FFF;
    margin: 10px 20px;
    cursor: pointer;
}
#footer  #in{
    color: #FFF;
    margin: 10px 20px;
    cursor: pointer;
}

#footer  #t:hover {
color: rgb(38, 193, 231);
-webkit-transition:all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
#footer  #f:hover {
    color: rgb(48, 7, 197);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#footer  #in:hover {
 color: rgb(222, 88, 226);
 -webkit-transition:all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
  }    



 
  #footer .footer-block4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px ;
}

#footer .footer-block4 h3 {
    color: #fff;
    padding: 2px 10px;
    text-align: center;
    line-height: 50px;
}
#footer .footer-block4 .android {
background: #fff;
color:#CF455C ;
font-size: x-large;
padding: 10px 40px;
border-radius:20px ;
margin: 10px;
cursor: pointer;
}
#footer .footer-block4 .ios {
 background: #fff;
color:#CF455C ;
font-size: x-large;
padding: 10px 50px;
border-radius:20px ;
margin: 10px;
cursor: pointer;
}
#footer .footer-block4 #icon {
    font-size: xx-large;
}
#footer .footer-block4 .android:hover{
    background: #FE9871;
    color: #fff;
}
#footer .footer-block4 .ios:hover{
    background: #FE9871;
    color: #fff;
}






/*media query*/

@media (max-width: 576px) { 
 
    .wow{
        animation-name: none !important;
      
    }
    .row {
        margin-left:0;     
        
    }

    #nav  .nav-select select option {
        direction: ltr;
    }
    .container {
        padding-left: 0;
    }
    #main .page-item.active .page-link {
      
         margin-right: -30px;
    }

    #footer .footer-block4 .android {           
        font-size: large;
        padding: 10px 30px;
        
 }

 #main  .user input  {
     padding-left: 0;
 }

 #main  .pass input  {
    padding-left: 0;
}

 #main .links {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
}

#main .links a {

   margin:  20px 0;
}


 #footer .footer-block4 .ios {            
        font-size: large;
        padding: 10px 40px;
       
 }
  #footer .footer-block4 #icon {
            font-size: x-large;
}    

}